.container{
    display: grid;
    width: 80%;
    height: 100%;
    border: 2px solid black;
    background-color: blueviolet;
    grid-template: 100px 1fr / 1fr 1fr 1fr;
}

.header{
    background-color: lightgoldenrodyellow;
    grid-column: 2/4;
}

.sidebar{
    background-color: lightblue;
    grid-row: 1/4;
}

.project-panel{
    display: grid;
    background-color: lightcoral;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;

}

.project{
    background-color: blanchedalmond;
}

.new{
    background-color: aquamarine;
}

.trending{
    background-color: lightslategray;
}